@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");

/* FONTS
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Lato', sans-serif;
*/

.app-container {
  margin-top: 50px;
}

/* prevents all the links in the app from having default underline */
a {
  text-decoration: none;
  color: inherit;
}

/* prevents all the links in the app from turning purple after visiting */
a:visited {
  color: inherit;
}

/* prevents all the inputs in the app from having that blue outline when in focus */
input:focus {
  outline: none;
}
